<!DOCTYPE html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr"><![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8" lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]><html class="lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/ dc: http://purl.org/dc/terms/ foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# rdfs: http://www.w3.org/2000/01/rdf-schema# sioc: http://rdfs.org/sioc/ns# sioct: http://rdfs.org/sioc/types# skos: http://www.w3.org/2004/02/skos/core# xsd: http://www.w3.org/2001/XMLSchema#">
<!--<![endif]-->

<head>
	<meta charset="utf-8" />
	<link rel="canonical" href="/use/ill" />
	<link rel="shortlink" href="/node/182" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
	<meta name="MobileOptimized" content="width" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="apple-mobile-web" content="true" />
	<link type="text/css" rel="stylesheet" href="https://library.gmu.edu/sites/default/files/css/css_xE-rWrJf-fncB6ztZfd2huxqgxu4WO-qwma6Xer30m4.css" media="all" />
	<link type="text/css" rel="stylesheet" href="https://library.gmu.edu/sites/default/files/css/css_vv4pljwlvwdCGPcixhZ126582XBUyQM6Fs-F_c0Bkt0.css" media="all" />
	<link type="text/css" rel="stylesheet" href="https://library.gmu.edu/sites/default/files/css/css_Wo6MIt6EM4aD1wPlkvsCh5utqIUIxy7UNnUgJxwXqYs.css" media="all" />
	<link type="text/css" rel="stylesheet" href="https://library.gmu.edu/sites/default/files/css/css_zXXGoWu4DascGJY6Pi1AtnGb6__2-IKl01Zurgf8nFk.css" media="all" />
	<link type="text/css" rel="stylesheet" href="https://library.gmu.edu/sites/default/files/css/css__OsiSp2xKbxy9q7ELw9nI3tE1fO_Vmvh1qWf7ErFuVc.css" media="screen" />
	<link type="text/css" rel="stylesheet" href="https://library.gmu.edu/sites/default/files/css/css_6RDTN2g4tVz3LfWxI6dC2p87BI4-hKB3QNgqxkaBhJA.css" media="only screen" />

	<link type="text/css" rel="stylesheet" href="https://library.gmu.edu/sites/default/files/cpn/182.css?puefv7" media="all" />
	<link type="text/css" rel="stylesheet" href="https://library.gmu.edu/sites/default/files/cpn/244.css?puefv7" media="all" />
	<link type="text/css" rel="stylesheet" href="https://library.gmu.edu/sites/default/files/cpn/block-4.css?puefv7" media="all" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %} <!-- Prepare django to load static files -->

	<style>
		.with-margin {
		  margin-left :50px;
		  margin-top: 10px;
		}
		
		#charttitle{
		 margin-left: 50px;
		}

		#site-logo{
		 margin-left: 50px;
		}
		
		#go{
		 margin-left: 20px;
		}
		</style>

</head>

<body class="html not-front not-logged-in one-sidebar sidebar-second page-node page-node- page-node-182 node-type-page site-name-hidden atr-7.x-3.x atv-7.x-3.2 site-name-university-libraries-george-mason-university section-use">
	<div id="skip-link" class="nocontent"> <a name="skippy" onclick="jQuery('#main-content').attr('tabIndex',-1).focus($);" href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
	</div>
	<div id="page-wrapper">
		<div id="page" class="page">
			<div id="header-wrapper">
				<div class="container clearfix">
					<header id="header" class="clearfix" role="banner">
						<!-- start: Branding -->
						<div id="branding" class="branding-elements clearfix">
							<!-- start: Site name and Slogan hgroup -->
							<hgroup class="element-invisible h-group" id="name-and-slogan">
								<h1 class="element-invisible" id="site-name"><a href="/" title="Home page">University Libraries, George Mason University</a></h1>
							</hgroup>
							<!-- /end #name-and-slogan -->
						</div>
						<!-- /end #branding -->
						<div class="region region-header">
							<div class="region-inner clearfix">
								<div id="block-block-5" class="block block-block no-title odd first block-count-1 block-region-header block-5">
									<div class="block-inner clearfix">
										<div class="block-content content">
											<div>
												<a href="https://library.gmu.edu">
													<img id="site-logo" alt="George Mason University Library" src="{% static "img/mason-logo.png" %}"/>
												</a>
												<h1 id="site-title">
												<a href="/" style="color:#383838; text-decoration:none; font-weight:normal;">University Libraries</a></h1>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
			<div id="breadcrumb-wrapper">
			    <div class='container'>
				{% block content %}
				{% endblock content %}
				</div>
				<script>
				$(document).ready(function(){
				  {% block jquery %}{% endblock %}
				})
				</script>
				<div>	
			</div>
		</div>
	</div>
</body>

</html>